services:
  jenkins:
    build:
      context: .
      dockerfile: jenkins.Dockerfile
    container_name: jenkins
    user: "0:0"  # run as root to avoid docker.sock group issues
    ports:
      - "8080:8080"
      - "50000:50000" # JNLP agent port (optional)
    volumes:
      - jenkins_home:/var/jenkins_home
      - /var/run/docker.sock:/var/run/docker.sock

    restart: unless-stopped

    healthcheck:
      test: ["CMD-SHELL", "curl -fsS http://localhost:8080/login || exit 1"]
      interval: 30s
      timeout: 10s
      retries: 10

volumes:
  jenkins_home:
    name: jenkins_home